

.profile-header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: #cf7c00;
  */
  background: rgb(64,86,161);
  background: linear-gradient(90deg, rgba(64,86,161,1) 0%, rgba(81,70,252,0.9084821428571429) 100%);  
  margin-top: 120px;
}

h2 {
  color: white;
  font-family: Bungee, sans-serif;
  font-size: 1em;
}



@media only screen and (min-width: 1024px) {
  .profile-header {
    width: 33%;
    float: left;
    height: 1000px;
    position: fixed;
  }
  
  main.container {
    width: 50%;
    float: right;
    margin-right: 4rem;
    margin-top: 12rem;
  }
}

