
.container {
  padding-top: 1em;
  margin: auto;
  width: 50%;
}

label {
    display: flex;
    justify-content: flex-start;  
    width: 90%;
    margin: 0 auto;
}

textarea {
    background: transparent;
    border: none;
    border-bottom: 5px solid rgb(68, 66, 66);
    outline: none;
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
    margin: 0 auto;
}


.button-and-count {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  margin: auto;
  padding: 1em;
}

.send-tweet {
  color: #f4f1ec;
  background-color: #4056A1;
}

.tweets-container {
  background-color: powderblue;
  transition: background-color .5s;
  border: 5px solid rgb(68, 66, 66);
  padding: 1em;
}

.tweets-container:hover {
  background-color: gold;
}

.tweets-container img {
  width: 100px;
  height: auto;
}